/*
 * CSS Styles for Application
 *
 */

 .row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
}

/* extra positioning */
.thumbnail {
  display: flex;
  flex-direction: column;
}

.thumbnail .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.padding-bottom {
  padding-bottom: 20px;
}


hr.divider { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  margin: 20px 0px;
}

.container ul li.loggedIn{
  display: none;
} 

body.loggedIn .container ul li.loggedIn{
  display: inline-block;
}

body.loggedIn .container ul li.loggedOut{
  display: none;
}

.formError {
  display: none;
}

.formSuccess{
  display: none;

}

.sizeInputLabel {
  padding-right: 20px;
}

.toppingsInputLabel {
  padding-right: 10px;
}