
<html>
  <head>
    <title>{head.title} | {global.appName}</title>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}" />
    <script type="text/javascript" charset="utf-8" src="/public/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/app.css">

  </head>
  <body class="{body.class}">
    <div class="container-fluid">
      <nav class="navbar navbar-inverse bg-primary">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Uncle Ralph's Pizzia</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Welcome</a></li>
            <li><a href="/menu">Menu</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="loggedIn"><a href="/account/shoppingcart"><span class="glyphicon-shopping-cart"></span> Cart</a></li>
            <li class="loggedIn"><a href="/account/edit" id="accountSettings"><span class="glyphicon glyphicon-edit"></span> Account</a></li>
            <li class="loggedIn"><a href="/session/deleted" id="logoutButton"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <li class="loggedOut"><a href="/account/create"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="loggedOut"><a href="/session/create"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
    </div>


    

