<!-- <h1>{body.title}</h1> -->
  <div class="container">
      <div class="">
        <img class="img-responsive" src="/public/images/home1.jpg">
      </div>
  </div>
<br>
  <div class="container" >
    <blockquote>
        <p>Welcome to Uncle Ralph's Pizzia, located through out upstate New York. Uncle Ralph's serves up the region's best wood-fired pizza, wings, and bread sticks. Every pizza is created using only the freshest, finest ingredients. We hand prepare and hand toss every pizza using only fresh toppings just for you. Uncle Ralph's is proud of its outstanding menu and friendly service. Thanks for your support and patronage. </p>
      <footer>Founder, Uncle Ralph Sumthin</footer>
    </blockquote>
  </div>

  <div class="container">
      <div class="row display-flex">
          <div class="col-md-3">
              <div class="thumbnail index-thumbnail">
                  <img src="/public/images/nav_pizza.jpg" alt="Pizza">
                  <div class="caption">
                      <h4>Pizza</h4>
                      <p class="lead">Our signature pizzas are made to order with the freshest ingredients, premium toppings, and real cheese.</p>
                      <a href="/menu#pizza" class="btn btn-info btn-xs" role="button">Details</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail index-thumbnail">
                  <img src="/public/images/nav_wings.jpg" alt="Chicken Wings">
                  <div class="caption">
                      <h4>Chicken Wings</h4>
                      <p class="lead">
                          Choose bonesless wings or traditional wings, each order comes with 10 wings, blue cheese and celery.
                      </p>
                      <a href="/menu#wings" class="btn btn-info btn-xs" role="button">Details</a>
                      <!-- <a href="#" class="btn btn-default btn-xs" role="button">Info</a> -->
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail index-thumbnail">
                  <img src="/public/images/nav_breadsticks.jpg"  alt="">
                  <div class="caption">
                      <h4>Breadsticks</h4>
                      <p class="lead">Fresh-baked, award winning giant breadsticks brushed with garlic sauce and seasonings.</p>
                      <a href="/menu#breadsticks" class="btn btn-info btn-xs" role="button">Details</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail index-thumbnail">
                  <img src="/public/images/nav_drinks.png" alt="Sodas">
                  <div class="caption">
                      <h4>Sodas</h4>
                      <p class="lead">We carry Pepsi products - Pepsi Diet Pepsi, Pepsi Zero, Mountain Dew, Diet Mountain Dew, and Sierra Mist.</p>
                      <a href="/menu#soda" class="btn btn-info btn-xs" role="button">Details</a>
                  </div>
              </div>
          </div>
      </div>
  </div>