    <!-- ROW 1 : Pizza -->
    <div class="container padding-bottom" id="pizza">
      <div class="row display-flex">
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/pizza_cheese.jpg" alt="Cheese Pizza">
                  <div class="caption">
                      <h4>Cheese</h4>
                      <p>Plain cheese pizza with red sauce.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Cheese">Select</a>

                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/pizza_hawaiian.jpg" alt="Hawaiian Pizza">
                  <div class="caption">
                      <h4>Hawaiian</h4>
                      <p>Ham, pineapple, and mozzarella cheese.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Hawaiian">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/pizza_meatlovers.jpg"  alt="Meatlovers Pizza">
                  <div class="caption">
                      <h4>Meatlovers</h4>
                      <p>Ham, pepperoni, sausage, meatballs, bacon, and mozzarella cheese.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Meatlovers">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/pizza_new_york_style.jpg" alt="New York Style">
                  <div class="caption">
                      <h4>New York Style</h4>
                      <p>A 'New York style' thin and crispy crust with red sauce, mozzarella cheese, and oregano.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="New York Style">Select</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- ROW 2 : Pizza -->
    <div class="container padding-bottom">
        <div class="row display-flex">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/pizza_old_world.jpg" alt="Old World Pizza">
                    <div class="caption">
                        <h4>Old World</h4>
                        <p>Thin crust, white garlic sauce, mozzarella cheese, pepperoni, sausage, onions, a special red sauce, and a blend of spices.</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Old World">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/pizza_pepperoni.jpg" alt="Pepperoni Pizza">
                    <div class="caption">
                        <h4>Pepperoni</h4>
                        <p>Plain cheese and pepperoni.</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Pepperoni">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/pizza_supreme.jpg"  alt="Supreme Pizza">
                    <div class="caption">
                        <h4>Supreme</h4>
                        <p>Pepperoni, sausage, onions, peppers, mushrooms, olives, and mozzarella cheese.</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Supreme">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/pizza_veggie.jpg" alt="Veggie Pizza">
                    <div class="caption">
                        <h4>Veggie</h4>
                        <p>Pepperoni, sausage, onions, green peppers, banana peppers, mushrooms, black olives, and mozzarella cheese (red or white sauce).</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Veggie">Select</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    
    <!-- ROW 3 : Chicken Wings -->
    <div class="container padding-bottom" id="wings">
      <div class="row display-flex">
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/chicken_wings1.jpg" alt="Mild Wings">
                  <div class="caption">
                      <h4>Mild</h4>
                      <p>Oven-baked, unsauced and irresistibly tasty and tender.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#wingsModal" data-wings="Mild">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/chicken_wings2.jpg" alt="Hot Wings">
                  <div class="caption">
                      <h4>Hot</h4>
                      <p>Bone-in wings are oven baked and tossed in tangy buffalo sauce.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#wingsModal" data-wings="Hot">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/chicken_wings3.jpg"  alt="BBQ Wings">
                  <div class="caption">
                      <h4>BBQ</h4>
                      <p>Bone-in wings are oven baked and covered in a bold BBQ sauce</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#wingsModal" data-wings="BBQ">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/chicken_wings4.jpg" alt="Parmesan Wings">
                  <div class="caption">
                      <h4>Parmesan</h4>
                      <p>Bone-in, oven baked wings tossed in honey chipotle sauce</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#wingsModal" data-wings="Parmesan">Select</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- ROW 4 : Breadsticks -->
    <div class="container padding-bottom" id="breadsticks"ß>
      <div class="row display-flex">
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/breadsticks1.jpg" alt="Butter Breadsticks">
                  <div class="caption">
                      <h4>Butter</h4>
                      <p>Fresh-baked and brushed with garlic sauce and seasonings.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#breadsticksModal" data-breadsticks="Butter">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/breadsticks2.jpg" alt="Cheese Breadsticks">
                  <div class="caption">
                      <h4>Cheese</h4>
                      <p>Fresh dough covered in garlic sauce and topped with mozzarella</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#breadsticksModal" data-breadsticks="Cheese">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/breadsticks3.jpg"  alt="Garlic Breadsticks">
                  <div class="caption">
                      <h4>Garlic</h4>
                      <p>Fresh baked and served with your choice of dipping sauce.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#breadsticksModal" data-breadsticks="Garlic">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/breadsticks4.jpg" alt="Parmesan Breadsticks">
                  <div class="caption">
                      <h4>Parmesan</h4>
                      <p>8 Knots made with fresh dough and garlic parmesan seasoning are served with pizza sauce.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#breadsticksModal" data-breadsticks="Parmesan">Select</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- ROW 5 : Sodas -->
    <div class="container padding-bottom" id="soda">
        <div class="row display-flex">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/drinks_pepsi.jpg" alt="Pepsi">
                    <div class="caption">
                        <h4>Pepsi</h4>
                        <p>Nice and cold 2 liter...enjoy!</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#sodaModal" data-soda="Pepsi">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/drinks_diet_pepsi.jpg" alt="Diet Pepsi">
                    <div class="caption">
                        <h4>Diet Pepsi</h4>
                        <p>Nice and cold 2 liter...enjoy!</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#sodaModal" data-soda="Diet Pepsi">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/drinks_mountain_dew.jpg"  alt="Mountain Dew">
                    <div class="caption">
                        <h4>Mountain Dew</h4>
                        <p>Nice and cold 2 liter...enjoy!</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#sodaModal" data-soda="Mountain Dew">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/drinks_sierra_mist.jpg" alt="Sierra Mist">
                    <div class="caption">
                        <h4>Parmesan</h4>
                        <p>Nice and cold 2 liter...enjoy!</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#sodaModal" data-soda="Sierra Mist"">Select</a>
                    </div>
                </div>
            </div>
        </div>
      </div>

    <!-- Pizza Modal -->
     <div class="modal fade" id="pizzaModal" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Cheese Pizza</h4>
          </div>
          <div class="modal-body">
            <form id="pizzaForm" action="/api/shoppingcart" method="PUT" enctype="application/json">
                <input type="hidden" class="pizzaType" name="pizzaType" value=""/> 
                    <h4>Size</h4>
                    <div class="radio">
                        <label class="sizeInputLabel"><input type="radio" name="pizzaSize" value="sm" checked>Small</label>
                        <label class="sizeInputLabel"><input type="radio" name="pizzaSize" value="med" >Medium</label>
                        <label class="sizeInputLabel"><input type="radio" name="pizzaSize" value="lg">Large</label>
                        <label class="sizeInputLabel"><input type="radio" name="pizzaSize" value="sheet">Sheet</label>
                    </div>
                    <div>
                    <h4>Toppings</h4>
                        <label class="checkbox-inline toppingsInputLabel" for="cheese">
                        <input type="checkbox" name="topping" id="cheese" value="cheese">Cheese
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="mozzarella cheese">
                        <input type="checkbox" name="topping" id="mozzarella cheese" value="mozzarella cheese">Mozzarella Cheese
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="pepperoni">
                        <input type="checkbox" name="topping" id="pepperoni" value="Pepperoni">Pepperoni
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="sausage">
                        <input type="checkbox" name="topping" id="sausage" value="sausage">Sausage
                        </label>
                        <label class="checkbox-inline toppingsInputLabel">
                        <input type="checkbox" name="topping" id="ham" value="ham">Ham
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="bacon">
                        <input type="checkbox" name="topping" id="bacon" value="Bacon">Bacon
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="chicken">
                        <input type="checkbox" name="topping" id="chicken" value="chicken">Chicken
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="meatballs" >
                        <input type="checkbox" name="topping" id="meatballs" value="meatballs">Meatballs
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="mushrooms">
                        <input type="checkbox" name="topping" id="mushrooms" value="mushrooms">Mushrooms
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="olives">
                        <input type="checkbox" name="topping" id="olives" value="olives">Olives
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="onions">
                        <input type="checkbox" name="topping" id="onions" value="onions">Onions
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="pineapple">
                        <input type="checkbox" name="topping" id="pineapple" value="pineapple">Pineapple
                        </label>
                        <label class="checkbox-inline toppingsInputLabel" for="peppers">
                        <input type="checkbox" name="topping" id="peppers" value="peppers">Peppers
                        </label>
                    </div>
                        <div class="form-group">
                            <h4>Qty</h4>
                            <select class="form-control" id="pizzaQty">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </div>
            </form>
        </div> 
      </div>
    </div>

    <!-- Chicken Wings Modal-->
  <div class="container">
      <div class="modal fade" id="wingsModal" tabindex="-1" role="dialog" aria-labelledby="wingsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="wingsModalLabel">Chicken Wings selection</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <form id="wingsForm" action="/api/shoppingcart" method="PUT" enctype="application/json">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Type</label>
                        <div class="radio">
                            <label class="sizeInputLabel"><input type="radio" name="wingsType" value="traditional" checked>Traditional</label>
                            <label class="sizeInputLabel"><input type="radio" name="wingsType" value="boneless" >Bonesless</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Seasoning</label>
                        <input type="text" class="form-control wingsSeasoning" id="wingsSeasoning" disabled>
                    </div>
                    <div class="form-group">
                        <label>Qty</label>
                        <select class="form-control" id="wingsQty">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <!-- Breadsticks Modal-->
  <div class="container">
      <div class="modal fade" id="breadsticksModal" tabindex="-1" role="dialog" aria-labelledby="breadsticksModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="breadsticksModalLabel">Breadsticks selection</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <form id="breadsticksForm" action="/api/shoppingcart" method="PUT" enctype="application/json">
                <div class="modal-body">
                    <div class="form-group">
                    <label>Seasoning</label>
                    <input type="text" class="form-control" id="breadstickSeasoning" disabled>
                    </div>
                    <div class="form-group">
                    <label>Qty</label>
                    <select class="form-control" id="breadsticksQty">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add to cart</button>
                </div>
            </form>  
          </div>
        </div>
      </div>
    </div>
      
    <!-- Soda Modal-->
    <div class="container">
      <div class="modal fade" id="sodaModal" tabindex="-1" role="dialog" aria-labelledby="sodaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="sodaModalLabel">Soda selection</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <form id="sodaForm" action="/api/shoppingcart" method="PUT" enctype="application/json">
            <div class="modal-body">
                <div class="form-group">
                    <label>Flavor</label>
                    <input type="text" class="form-control" id="sodaFlavor" disabled>
                </div>
                <div class="form-group">
                    <label>Qty</label>
                    <select class="form-control" id="sodaQty">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add to cart</button>
            </div>
        </form>
          </div>
        </div>
      </div>
    </div>