    <!-- ROW 1 : Pizza -->
    <div class="container padding-bottom" id="pizza">
      <div class="row display-flex">
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/pizza_cheese.jpg" alt="Cheese Pizza">
                  <div class="caption">
                      <h4>Cheese</h4>
                      <p>Plain cheese pizza with red sauce.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Cheese">Select</a>

                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/pizza_hawaiian.jpg" alt="Hawaiian Pizza">
                  <div class="caption">
                      <h4>Hawaiian</h4>
                      <p>Ham, pineapple, and mozzarella cheese.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Hawaiian">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/pizza_meatlovers.jpg"  alt="Meatlovers Pizza">
                  <div class="caption">
                      <h4>Meatlovers</h4>
                      <p>Ham, pepperoni, sausage, meatballs, bacon, and mozzarella cheese.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Meatlovers">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/pizza_new_york_style.jpg" alt="New York Style">
                  <div class="caption">
                      <h4>New York Style</h4>
                      <p>A 'New York style' thin and crispy crust with red sauce, mozzarella cheese, and oregano.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="New York Style">Select</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- ROW 2 : Pizza -->
    <div class="container padding-bottom">
        <div class="row display-flex">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/pizza_old_world.jpg" alt="Old World Pizza">
                    <div class="caption">
                        <h4>Old World</h4>
                        <p>Thin crust, white garlic sauce, mozzarella cheese, pepperoni, sausage, onions, a special red sauce, and a blend of spices.</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Old World">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/pizza_pepperoni.jpg" alt="Pepperoni Pizza">
                    <div class="caption">
                        <h4>Pepperoni</h4>
                        <p>Plain cheese and pepperoni.</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Pepperoni">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/pizza_supreme.jpg"  alt="Supreme Pizza">
                    <div class="caption">
                        <h4>Supreme</h4>
                        <p>Pepperoni, sausage, onions, peppers, mushrooms, olives, and mozzarella cheese.</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Supreme">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/pizza_veggie.jpg" alt="Veggie Pizza">
                    <div class="caption">
                        <h4>Veggie</h4>
                        <p>Pepperoni, sausage, onions, green peppers, banana peppers, mushrooms, black olives, and mozzarella cheese (red or white sauce).</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#pizzaModal" data-pizza="Veggie">Select</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    

    <!-- ROW 3 : Chicken Wings -->
    <div class="container padding-bottom" id="wings">
      <div class="row display-flex">
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/chicken_wings1.jpg" alt="Mild Wings">
                  <div class="caption">
                      <h4>Mild</h4>
                      <p>Oven-baked, unsauced and irresistibly tasty and tender.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/chicken_wings2.jpg" alt="Hot Wings">
                  <div class="caption">
                      <h4>Hot</h4>
                      <p>Bone-in wings are oven baked and tossed in tangy buffalo sauce.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/chicken_wings3.jpg"  alt="BBQ Wings">
                  <div class="caption">
                      <h4>BBQ</h4>
                      <p>Bone-in wings are oven baked and covered in a bold BBQ sauce</p>
                      <a href="#" class="btn btn-info btn-xs" role="button">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/chicken_wings4.jpg" alt="Parmesan Wings">
                  <div class="caption">
                      <h4>Parmesan</h4>
                      <p>Bone-in, oven baked wings tossed in honey chipotle sauce</p>
                      <a href="#" class="btn btn-info btn-xs" role="button">Select</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- ROW 4 : Breadsticks -->
    <div class="container padding-bottom" id="breadsticks"ß>
      <div class="row display-flex">
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/breadsticks1.jpg" alt="Butter Breadsticks">
                  <div class="caption">
                      <h4>Butter</h4>
                      <p>Fresh-baked and brushed with garlic sauce and seasonings.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/breadsticks2.jpg" alt="Cheese Breadsticks">
                  <div class="caption">
                      <h4>Cheese</h4>
                      <p>Fresh dough covered in garlic sauce and topped with mozzarella</p>
                      <a href="#" class="btn btn-info btn-xs" role="button">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/breadsticks3.jpg"  alt="Garlic Breadsticks">
                  <div class="caption">
                      <h4>Garlic</h4>
                      <p>Fresh baked and served with your choice of dipping sauce.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button">Select</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="/public/images/breadsticks4.jpg" alt="Parmesan Breadsticks">
                  <div class="caption">
                      <h4>Parmesan</h4>
                      <p>8 Knots made with fresh dough and garlic parmesan seasoning are served with pizza sauce.</p>
                      <a href="#" class="btn btn-info btn-xs" role="button">Select</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- ROW 5 : Sodas -->
    <div class="container padding-bottom" id="soda">
        <div class="row display-flex">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/drinks_pepsi.jpg" alt="Pepsi">
                    <div class="caption">
                        <h4>Pepsi</h4>
                        <p>Nice and cold 2 liter...enjoy!</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#sodaModal" data-soda="Pepsi">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/drinks_diet_pepsi.jpg" alt="Diet Pepsi">
                    <div class="caption">
                        <h4>Diet Pepsi</h4>
                        <p>Nice and cold 2 liter...enjoy!</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#sodaModal" data-soda="Diet Pepsi">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/drinks_mountain_dew.jpg"  alt="Mountain Dew">
                    <div class="caption">
                        <h4>Mountain Dew</h4>
                        <p>Nice and cold 2 liter...enjoy!</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#sodaModal" data-soda="Mountain Dew">Select</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="/public/images/drinks_sierra_mist.jpg" alt="Sierra Mist">
                    <div class="caption">
                        <h4>Parmesan</h4>
                        <p>Nice and cold 2 liter...enjoy!</p>
                        <a href="#" class="btn btn-info btn-xs" role="button" data-toggle="modal" data-target="#sodaModal" data-soda="Sierra Mist"">Select</a>
                    </div>
                </div>
            </div>
        </div>
      </div>













  <div class="container">
      <h2>Pepperoni</h2>
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#pizzaModal">Select</button>
    </div>


    <div class="container">
      <h2>Cheese</h2>
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal2">Select</button>
    
    </div>
    

    <!-- Container (Pricing Section) -->
<div class="container">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3>Cheese</h3>
          </div>
          <div class="panel-body">
            <img src="public/images/pizza_cheese.jpg" style="width:100%" alt="Cinque Terre">
            <p class="text-left">Plain cheese pizza with red sauage  Plain cheese pizza with</p>
   
          </div>
          <div class="panel-footer">
            <!-- <h3>$19</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button> -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal2">Select</button>
          </div>
        </div>      
      </div>    
      
      
      <div class="col-sm-3 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Pepperoni</h1>
          </div>
          <div class="panel-body">
            <p><strong>50</strong> Lorem</p>
            <p><strong>25</strong> Ipsum</p>
            <p><strong>10</strong> Dolor</p>
            <p><strong>5</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <!-- <h3>$29</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button> -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal1">Select</button>
          </div>
        </div>      
      </div>    
      
      <div class="col-sm-3 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Pro2</h1>
          </div>
          <div class="panel-body">
            <p><strong>50</strong> Lorem</p>
            <p><strong>25</strong> Ipsum</p>
            <p><strong>10</strong> Dolor</p>
            <p><strong>5</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$29</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>      
      </div>  
      
      <div class="col-sm-3 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Premium</h1>
          </div>
          <div class="panel-body">
            <p><strong>100</strong> Lorem</p>
            <p><strong>50</strong> Ipsum</p>
            <p><strong>25</strong> Dolor</p>
            <p><strong>10</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$49</h3>
            <h4>per month</h4>
            <button class="btn btn-lg">Sign Up</button>
          </div>
        </div>      
    </div>    
  </div>
</div>

<!-- Modal1 -->

 <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Pepperoni Pizza</h4>
        </div>
        <div class="modal-body">
            <form>
            <p>Size</p>
             <div class="radio">
              <label><input type="radio" name="optradio" checked>Small</label>
              <label><input type="radio" name="optradio">Medium</label>
              <label><input type="radio" name="optradio">Large</label>
              <label><input type="radio" name="optradio">Sheet</label>
            </div>
            </form>
            <p>Toppings</p>
            <form>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 1
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 2
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 3
              </label>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Select</button>
        </div>
      </div> 
    </div>
  </div>

   <!-- Pizza Modal -->
  <div class="modal fade" id="pizzaModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Cheese Pizza</h4>
          </div>
          <div class="modal-body">
              <form>
              <h4>Size</h4>
              <div class="radio">
                <label><input type="radio" name="optradio" checked>Small</label>
                <label><input type="radio" name="optradio">Medium</label>
                <label><input type="radio" name="optradio">Large</label>
                <label><input type="radio" name="optradio">Sheet</label>
              </div>
             <div>
              <h4>Toppings</h4>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Cheese
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">mozzarella cheese
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Pepperoni
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Sausage
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Ham
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Bacon
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Chicken
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Meatballs
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Mushrooms
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Olives
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Onions
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Pineapple
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Peppers
                </label>
              </div>
                <div class="form-group">
                    <h4>Qty:</h4>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Add to cart</button>
          </div>
        </div> 
      </div>
    </div>

    <!-- Soda Modal-->
    <div class="container">
      <div class="modal fade" id="sodaModal" tabindex="-1" role="dialog" aria-labelledby="sodaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="sodaModalLabel">Soda selection</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Flavor</label>
                  <input type="text" class="form-control" id="recipient-name" disabled>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Qty:</label>
                  <select class="form-control" id="sel1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type='text/javascript'>
      $('#sodaModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) // Button that triggered the modal
        let soda = button.data('soda') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        let modal = $(this)
        console.log("MODAL",modal.find('.modal-title'));
        modal.find('.modal-title').text('Two liters of ' + soda)
        modal.find('.modal-body input').val(soda)
      });

      $('#pizzaModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) // Button that triggered the modal
        let pizza = button.data('pizza') // Extract info from data-* attributes
        let modal = $(this)
        modal.find('.modal-title').text(`${pizza} Pizza`)
        //modal.find('.modal-body input').val(soda)
      })
    </script>